# Node.js
node_modules/

# macOS
.DS_Store

# npm
*.log
npm-debug.log*

# Express.js
.env

# MongoDB
*.db

# Visual Studio Code
.vscode/

# React.js
build/
dist/
.cache/

# Logs
logs
*.log

# Testing
coverage/
